<!DOCTYPE html>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} • {% endif %}Dream FIRST</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/resources/css/main.css" />
	<link rel="stylesheet" type="text/css" href="{{ site.url }}/resources/css/clouds.css" />
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="{{ site.url }}/resources/js/menu.js"></script>
	<script type="text/javascript" src="{{ site.url }}/resources/js/clouds.js"></script>
</head>
